/* Ahmed Kechicheb */
/* Start Global Rules  */
:root {
  --main-color: #43affc;
}
* {
  font-family: "Cairo", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Small */
@media (min-width: 786px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */
body {
  background-color: var(--main-color);
}

.perant {
  max-width: 500px;
  flex: 1;
}

.perant .search {
  width: 100%;
  display: flex;
}
.perant .search input {
  flex: 1;
  padding: 15px;
  outline: none;
  border: 1px solid rgb(197, 197, 197);
  border-right: none;
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
}
.perant .search input::placeholder {
  font-size: 20px;
}

.perant .search button {
  background: none;
  cursor: pointer;
  border: none;
  padding: 15px;
  background-color: #fff;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
}
.perant .search button i {
  color: black;
  font-size: 30px;
}
.perant .card {
  display: none;
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.perant .card > h2 {
  padding: 15px;
  color: var(--main-color);
  font-weight: 500;
  border-bottom: 1px solid rgb(197, 197, 197);
}
.perant .card .weather {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.perant .card .weather .icon img {
  max-width: 120px;
}

.perant .card .weather .icon {
  font-size: 3rem;
}

.perant .card .weather .temp {
  font-weight: 500;
  font-size: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.perant .card .weather .temp span:not(:last-child) {
  margin-right: -1px;
}
.perant .card .weather .temp span:nth-child(2) {
  font-size: 2rem;
  display: inline-block;
  margin-top: -10px;
}
.perant .card .weather :is(.description, .city) {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}
.perant .card .weather .city {
  margin: 8px 0 10px;
}
.perant .card .weather .row {
  margin-top: 10px;
  border-top: 1px solid rgb(197, 197, 197);
  display: flex;
  align-items: center;
}
.perant .card .weather .row :is(.humidity, .wind) {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.perant .card .weather .row i {
  font-size: 2.2rem;
  color: var(--main-color);
}
.perant .card .weather .row :is(.humidity .text, .wind .text) {
  display: flex;
  flex-direction: column;
}
.perant .card .weather .row .text span:first-child {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}
.perant .card .weather .row .text span:last-child {
  font-size: 0.9rem;
}
.perant .card .weather .row .humidity {
  border-right: 1px solid rgb(197, 197, 197);
}

.error,
.pending {
  margin-top: 20px;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 100px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
:is(.error, .pending) h3 {
  font-weight: normal;
  padding: 15px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.error h3 {
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
}
.pending.active {
  display: flex;
}
.pending h3 {
  color: #0f5132;
  background-color: #d1e7dd;
  border: 1px solid #badbcc;
}
